@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: 
    url(fonts/Source_Sans_Pro/SourceSansPro-Regular.eot);
  src:
    local('Source Sans Pro'), 
    local('SourceSansPro-Regular'), 
      url(fonts/Source_Sans_Pro/SourceSansPro-Regular.eot)
        format('embedded-opentype'),     
      url(fonts/Source_Sans_Pro/SourceSansPro-Regular.woff)
        format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: 
    url(fonts/Source_Sans_Pro/SourceSansPro-Bold.eot);
  src: 
    local('Source Sans Pro Bold'), 
    local('SourceSansPro-Bold'), 
      url(fonts/Source_Sans_Pro/SourceSansPro-Bold.eot)
        format('embedded-opentype'), 
      url(fonts/Source_Sans_Pro/SourceSansPro-Bold.woff)
        format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: 
    url(fonts/Source_Sans_Pro/SourceSansPro-It.eot);
  src: 
    local('Source Sans Pro Italic'), 
    local('SourceSansPro-It'), 
      url(fonts/Source_Sans_Pro/SourceSansPro-It.eot)
        format('embedded-opentype'), 
      url(fonts/Source_Sans_Pro/SourceSansPro-It.woff)
        format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: 
    url(fonts/Source_Sans_Pro/SourceSansPro-BoldIt.eot);
  src: 
    local('Source Sans Pro Bold Italic'), 
    local('SourceSansPro-BoldIt'), 
      url(fonts/Source_Sans_Pro/SourceSansPro-BoldIt.eot)
        format('embedded-opentype'), 
      url(fonts/Source_Sans_Pro/SourceSansPro-BoldIt.woff)
        format('woff');
}
